/* fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap');

/* common fonts style */
body{
font-family: 'Poppins', sans-serif;
}

/* css style */

.cbr-btn-primary{
    background-color: #E76F51;

}
.cbr-bg-gradient{
    background-color: #264653;
}
.cbr-text-warning{
    color: #E0E0E0;

}
.cbr-text-primary{
    color: #E76F51;
}
.cbr-grayscale{
    filter: grayscale(100%);
}
.cbr-text-secondary{
    color: #7E848C;
}